<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoteToMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Note_To_Music.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <!-- Syncfusion License Key (Trial mode için boş bırakılabilir, Community License için doldurulmalı) -->
        <add key="SyncfusionLicenseKey" value="Ngo9BigBOggjHTQxAR8/V1JGaF5cXGpCf0x0R3xbf1x2ZFRMZFxbQXZPIiBoS35RcEViWXted3dRR2hYWEZ3VEFf" />
        <add key="SupabaseUrl" value="https://lockykgihtskuwktzefm.supabase.co" />
        <add key="SupabaseApiKey" value="sb_secret_1pp4y9KWXVQ9Qdx4JEes8A_wB4mXG_D" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NoteToMusic.Properties.Settings>
      <setting name="AudiverisPath" serializeAs="String">
        <value />
      </setting>
    </NoteToMusic.Properties.Settings>
    <Note_To_Music.Properties.Settings>
      <setting name="AudiverisPath" serializeAs="String">
        <value />
      </setting>
    </Note_To_Music.Properties.Settings>
  </userSettings>
</configuration>